/* Imports */
@import url("reset.css");
@import url("global-forms.css");
 
/***** Global *****************/

/* Body *****/
	body {
		background: #1485CC;
		color: #000305;
		font-size: 87.5%; /* Base font size: 14px */
		font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;
		line-height: 1.429;
		margin: 0;
		padding: 0;
		text-align: left;
	}
 
/* Headings */
	h2 {font-size: 1.571em}	/* 22px */
	h3 {font-size: 1.429em}	/* 20px */
	h4 {font-size: 1.286em}	/* 18px */
	h5 {font-size: 1.143em}	/* 16px */
	h6 {font-size: 1em}	/* 14px */
	 
	h2, h3, h4, h5, h6 {
		font-weight: 400;
		line-height: 1.1;
		margin-bottom: .8em;
	}
 
/* Anchors */
	a {outline: 0;}
	a img {border: 0px; text-decoration: none;}
	a:link, a:visited {
		color: white;
		padding: 0 1px;
		text-decoration: underline;
	}
	
	a:hover, a:active {
		background-color: #C20202;
		color: #FFF;
		text-decoration: none;
		text-shadow: 1px 1px 1px #333;
	}
	
	a.plain:hover {
		color: #000;
		text-decoration: none;
	}
	
	a.follow{
		color: red;
	}	
 
/* Paragraphs */
	p {
		margin-bottom: 1.143em;
		font-weight: normal;
	}
	* p:last-child {margin-bottom: 0;}
	 
	strong, b {font-weight: bold;}
	em, i {font-style: italic;}
	 
	::-moz-selection {background: #F6CF74; color: #fff;}
	::selection {background: #F6CF74; color: #fff;}
 
/* Lists */
	ul {
		list-style: outside disc;
		margin: 1em 0 1.5em 1.5em;
	}
	 
	ol {
		list-style: outside decimal;
		margin: 1em 0 1.5em 1.5em;
	}
 
	dl {margin: 0 0 1.5em 0;}
	dt {font-weight: bold;}
	dd {margin-left: 1.5em;}
 
/* Quotes */
	blockquote {font-style: italic;}
	cite {}
	 
	q {}
 
/* Tables */
	table {margin: .5em auto 1.5em auto; width: 98%;}
 
	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}
 
	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}
 
	tbody .alt td {}
	tbody .alt th {}
 
	/* Tfoot */
	tfoot th {}
	tfoot td {}
	
/* Misc */	
	* p:last-child {margin-bottom: 0;}
	
	::-moz-selection {background: #F6CF74; color: #fff;}
	::selection {background: #F6CF74; color: #fff;}
	
	/* HTML5 tags */
	header, section, footer,
	aside, nav, article, figure {
		display: block;
	}

/***** Layout *****************/
	.body {
		clear: both; 
		margin: 0 auto; 
		width: 800px;
	}
	
	img.right figure.right {float: right; margin: 0 0 2em 2em;}
	img.left, figure.left {float: right; margin: 0 0 2em 2em;}

		
/* Header *****/
	#banner {
		margin: 0 auto;
		padding: 2.5em 0 0 0;
	}
	 
/* Banner */
	#banner h1 {font-size: 3.571em; line-height: .6;}
	#banner h1 a:link, #banner h1 a:visited {
		color: #FFF;
		display: block;
		font-weight: bold;
		margin: 0 0 .6em .2em;
		text-decoration: none;
		width: 427px;
	}
	
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		text-shadow: 5px;
	}
 
	#banner h1 strong {font-size: 0.36em;}
	
	p.welcome {
		float: left;
		color: #FFF;
		font-size: 1em;
		font-weight: bold;
		padding: 5px 20px 0 0;
	}
	
	img.logo {
		float: left;
		margin-top: -15px;
		padding: 0 15px 0 0;
	}
	
/* Main Nav */
	#banner nav {
		background: #000305;
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 2em auto;
		padding: 0 0 0 100px;
		text-align: center;
		width: 700px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	#banner nav ul {
		list-style: none; 
		margin: 0 auto; 
		width: 700px;
	}
	
	#banner nav li {
		float: right; 
		display: inline; 
		margin: 0;
	}
	
	#banner nav a:link, #banner nav a:visited {
		color: #fff;
		display: inline-block;
		height: 30px;
		padding: 5px 1.5em;
		text-decoration: none;
	}
	
	#banner nav a:hover, #banner nav a:active,
	#banner nav .active a:link, #banner nav .active a:visited {
		background: #D62329;
		color: #fff;
		text-shadow: none !important;
	}

	#banner nav li:first-child a {
		border-top-right-radius: 4px;
		-moz-border-radius-topright: 4px;
		-webkit-border-top-right-radius: 4px;		
		border-bottom-right-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-webkit-border-bottom-right-radius: 4px;
	} 
	
/* Home Page */
	.signup {
		float: left;
		height: 160px;
		width: 345px;
		padding-right: 50px;
		
	}
	
	.login {
		float: right;
		height: 160px;
		width: 360px;
	}
	
	
	/* styling homepage buttons
	
	button, submit {
		color: #FFF;
		background-color: #D62329;				
	}
	
	input {
		height: 20px;
		width: 200px;
	}
	
	*/
	
	
/* Posts *****/
	.blab {
		border: #DDD solid 1px;
		background-color: #EFEFEF;
		padding: 8px 0 5px 8px;
		margin-bottom: 20px;
	}
	
	.avatar {
		float: left;
		height: 80px;
		width: 80px;
		border: #DDD solid 1px;
		margin-right: 10px;
	}
	
	.postusername {
		padding-bottom: 5px;
	}
	
	time {
		font-size: x-small;
	}
	
	
	
/* Featured *****/
	#featured {
		background: #FFF;
		margin-bottom: 2em;
		overflow: hidden;
		padding: 20px;
		width: 760px; 
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
	 
	#featured figure {
		border: 2px solid #eee;
		float: right;
		margin: 0 2em 0 5em;
		width: 200px;
	}
	
	#featured figure img {display: block; float: right;}
	 
	#featured h2 {
		color: #C20202; 
		font-size: 1.714em; 
		margin-bottom: 0.333em;
	}
		
	#featured h3 {font-size: 1.429em; margin-bottom: .5em;}
	 
	#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
	#featured h3 a:hover, #featured h3 a:active {color: #fff;}
 
/* Body */
	#content {
		background: #FFF;
		margin-bottom: 2em;
		overflow: hidden;
		padding: 20px 20px;
		width: 760px;	 
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
	
/* About */
	#about {
		background: #000;
		font-style: normal;
		margin-bottom: 2em;
		overflow: hidden;
		padding: 20px;
		text-align: left;
		width: 760px;
		height: 89px; 
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
	 
	#about .primary {float: left; width: 450px;}
	
	#about .primary strong {
		color: #FFF; 
		display: block; 
		font-size: 1.286em; 
		margin-top: -5px;
	}
	
	#about .footericon {float: left; margin: -45px 10px 10px -5px;}
	 
	#about .url:link, #about .url:visited {text-decoration: none;}
	
	#about .speech {
		float: left; 
		width: 275px; 
		margin: -91px 0 0 108px;
	} 
	 
	#about .features {
		float: left; 
		width: 295px; 
		padding: 0 10px 0 0; 
		font-weight: normal; 
		color: #FFF; 
		margin-top: -5px;}
 
/* Footer *****/
	#contentinfo {
		padding-bottom: 2em; text-align: right;}